<h1>Authorization failed!</h1>

<div class="alert alert-error alert-block">
  <button class="close" data-dismiss="alert">×</button>
  <h3 class="alert-heading">Reason:</h2>
  <p>[% reason %]</p>
</div>

<p class="big-button"><a href="[% try_again_url %]" class="btn btn-primary btn-large">Try again?</a></p>
