[% IF just_logged_in %]
<div class="alert alert-success alert-block">
  <button class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">Success!</h2>
  <p>Successfully authenticated as <b>[% username %]</b>.</p>
</div>
[% END %]

<h1>Welcome!</h1>

<ul>
  [% FOREACH link IN links %]
  <li><a href="[% link %]">[% link %]</a></li>
  [% END %]
</ul>
